@(event: services.models.Event, users: java.util.List[services.models.User], cars: java.util.List[services.models.Car], formPassenger: Form[Journeys.Passenger], formDriver: Form[Journeys.Driver])

@import views.form.HorizontalForm._

@layout {
	<section>
		<h1>Evènement @event.place</h1>
		<article id="event-users">
			<span>Participants</span>
			<ul>
		        @for(user <- users) {
					<li>
						<span>@user.name (@user.id)</span>
						<!-- <img src="img/delete.png" title="Supprimer @user.name de l'évènement"/> -->
						<span>Voiture @user.carId</span>
					</li>
		        }
			</ul>
		</article>
		<article id="event-cars">
			<span>Voitures</span>
			<ul>
				@for(car <- cars) {
					<li>
						<span>Voiture @car.id (@car.model, @car.nbSeat sièges)</span>
						<span>Places disponibles : @car.nbAvailableSeat</span>
					</li>
				}
			</ul>
		</article>
		@helper.form(action = routes.Journeys.addPassenger(event.id)) {
	        @if(formPassenger.hasGlobalErrors) {
	            <div class="form-group has-error">
	                <div class="controls">
	                    @for(error <- formPassenger.globalErrors) {
	                        <div class="help-block">@error.message</div>
	                    }
	                </div>
	            </div>
	        }
			<legend>Ajout d'un passager</legend>
			@helper.inputText(formPassenger("nom"), '_label -> "Nom", 'class -> "form-control")
			<button class="btn">Valider</button>
		}
		@helper.form(action = routes.Journeys.addDriver(event.id)) {
	        @if(formDriver.hasGlobalErrors) {
	            <div class="form-group has-error">
	                <div class="controls">
	                    @for(error <- formDriver.globalErrors) {
	                        <div class="help-block">@error.message</div>
	                    }
	                </div>
	            </div>
	        }
			<legend>Ajout d'un conducteur</legend>
			@helper.inputText(formDriver("nom"), '_label -> "Nom", 'class -> "form-control")
			<h4>Voiture</h4>
			@helper.inputText(formDriver("modele"), '_label -> "Modèle", 'class -> "form-control")
			@helper.inputText(formDriver("nbSeat"), '_label -> "Nombre de sièges", 'class -> "form-control")
			<button class="btn">Valider</button>
		}
	</section>
}